.title_wrap {
  
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  height: 200px;
  padding: 40px;
  border-bottom: 1px solid #ccc;
  .img {
    height: 160px;
    width: 180px;
  }
  .title {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 20px;
    color: #333;
  }
}
